/* CONFIGURACIÓN GENERAL */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d150f;
    color: white;
}


/* ENCABEZADO */

header {
    background-color: #286b32;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 45px;
    margin: 0 0 10px 0;
}

header p {
    font-size: 18px;
}


/* MENÚ */

nav {
    background-color: #181818;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #62d26f;
}


/* CONTENIDO */

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 25px;
}

section {
    margin-bottom: 70px;
}

h2 {
    color: #62d26f;
    font-size: 30px;
}

p {
    line-height: 1.6;
}


/* IMAGEN PRINCIPAL */

.imagen-principal {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 20px;
}


/* TARJETAS DE BIOMAS */

.tarjetas {
    display: flex;
    gap: 20px;
}

article {
    background-color: #1d271e;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    border: 2px solid #286b32;
    transition: 0.3s;
}

article:hover {
    transform: scale(1.05);
    border-color: #62d26f;
}

article h3 {
    font-size: 22px;
}


/* LISTAS */

li {
    margin: 12px;
    font-size: 18px;
}


/* BOTÓN MINECRAFT */

button {
    background-color: #3c9b4b;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #62d26f;
    color: black;
}


/* SECCIÓN TWITCH */

#twitch {
    text-align: center;
    background-color: #18121f;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #9146ff;
}

#twitch h2 {
    color: #b98cff;
}

#twitch p {
    font-size: 19px;
}


/* IMAGEN TWITCH */

.twitch-img {
    width: 300px;
    max-width: 100%;
    border-radius: 15px;
    margin: 20px 0 25px 0;
}


/* BOTÓN TWITCH */

.twitch-boton {
    display: inline-block;
    background-color: #9146ff;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.twitch-boton:hover {
    background-color: #772ce8;
    transform: scale(1.05);
}


/* PIE DE PÁGINA */

footer {
    background-color: #181818;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
}


/* PARA CELULARES */

@media (max-width: 700px) {

    .tarjetas {
        flex-direction: column;
    }

    nav a {
        display: inline-block;
        margin: 8px;
    }

    header h1 {
        font-size: 32px;
    }
}
